<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta name="keywords" content="{{ keywords|default('keywords') }}">
	<meta name="description" content="{{ description|default('description') }}">

	<title>{{ title|default('title') }}</title>

	<link rel="stylesheet" type="text/css" href="{{ baseUrl1 }}/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ baseUrl1 }}/css/detail.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ baseUrl1 }}/css/markdownbody.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ baseUrl1 }}/css/github-markdown.css">

</head>

<body>
	<header class="detail-headfix">
		<nav class="w-1000 clearfix">
			<a href="{{ baseUrl1 }}" class="head-logo" target="_blank">
				<h2 style="font-size:28px;">
					{{ title }}
				<!-- <img src="{{ baseUrl1 }}/images/logo.png" class="jklogo" > -->
			</h2>
			</a>
			<ul class="head-catalog">
				{% for itemId, item in header.items %}
					<li class="head-catalog-list {{ itemId == currentMenu ? 'active' }}">
						<a href="{{ item.absoluteUrl|default(baseUrl1 ~ '/' ~ item.relativeUrl) }}">
							{{ item.text|raw }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</header>

	<div class="detail-wrapper w-1000  clearfix">
		<div class="detail-left">
			<ul class="detail-nav">
				{% for itemId, item in menu.items %}
					<li class="detail-navlist navlist-one {{ itemId == currentMenu ? 'navlist-active activekey-one' }}">
						<div class="detail-navlist-title">
							{% if item.absoluteUrl is defined %}
							<a href="{{ item.absoluteUrl }}">
								{{ item.text|raw }}
							</a>
							{% elseif item.relativeUrl is defined %}
								<a href="{{ baseUrl1 ~ '/' ~ item.relativeUrl }}">
									{{ item.text|raw }}
								</a>
							{% else %}
								<a href="#">
									{{ item.text|raw }}
								</a>
							{% endif %}

							{% if item.items is defined %}
								<div class="navlist-more more-one nav-down"></div>
							{% endif %}
						</div>
						{% if item.items is defined %}
						<ul class="navul-one {{ itemId == currentMenu ? 'navlist-active activekey-one' }}">
							{% for itemId1, item1 in item.items %}
							<li class="detail-navlist {{ itemId1 == currentMenu ? 'navlist-active' }}">
								<div class="detail-navlist-title title-two ">
									<a href="{{ item1.absoluteUrl|default(baseUrl1 ~ '/' ~ item1.relativeUrl) }}">
										{{ item1.text|raw }}
									</a>
								</div>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="detail-main">
			<div class="markdown-body">
				{{ content|raw }}
			</div>

			<div class="wiki-right">
				<div class="backtotop">
					<a href="javascript:;" class="btn-backtotop" style="">
						<div class="arrow"></div>
						<div class="stick"></div>
					</a>
				</div>
			</div>
			<div class="previous-and-next mg-t20">
				&nbsp;
			</div>
		</div>

	</div>
	<script type="text/javascript" src="{{ baseUrl1 }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ baseUrl1 }}/js/detail.js"></script>
</body>
</html>
